@use "../../../../src/focus";

div.goal-flex-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 100%;
  border-left: 6px solid orange;

  span.goal,
  input[type=text] {
    flex: 2;
    font-size: 1.1rem;
  }

  input[type=checkbox] {
    margin: 0 0.7rem 0 0.7rem;
  }

  fa-icon {
    flex: 0;
    padding: 0.3rem;
    visibility: hidden;
    color: darkgrey;
  }

  div.goal-btn-container {
    padding: 0.5rem 0 0.5rem 0.5rem;

    button {
      margin-right: 0.5rem;
    }
  }

  &:hover {
    @include focus.on-focus;
  }
}

.on-focus {
  @include focus.on-focus;
}
