<ul>
  <li *ngFor=" let task of priorityTasks"  [ngStyle]="{ 'color': task.color }" class="task-flex-container">
    <input type="checkbox" [(ngModel)]="task.done" (change)="onCheck($event, task.id)">
    <span [ngClass]="{'done' : task.done}" class="task">{{ task.task }}</span>
    <span class="hours-required">{{ task.hoursRequired }}</span>
    <button class="delete-task" (click)="deleteTask(task.id)">X</button>
  </li>
  <li>&nbsp;</li>
  <li *ngFor=" let task of recurrentTasks"  [ngStyle]="{ 'color': task.color }" class="task-flex-container">
    <input type="checkbox" [(ngModel)]="task.done" (change)="onCheck($event, task.id)">
    <span [ngClass]="{'done' : task.done}" class="task">{{ task.task }}</span>
    <span class="hours-required">{{ task.hoursRequired }}</span>
    <button class="delete-task" (click)="deleteTask(task.id)">X</button>
  </li>
</ul>
