ul {
  width: 25%;
}

li {
  span.task {
    flex: 2;
    padding-left: 1rem;
  }

  span.total-task-hours-label {
    flex: 10;
  }

  span.total-task-hours {
    flex: auto;
    padding-left: 1rem;
  }

  button.delete-task {
    visibility: hidden;
  }
}

li.task-flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

li:hover {
  button.delete-task {
    visibility: visible;
  }
}
