div {
  span.task {
    flex: 2;
  }

  span.total-task-hours-label {
    flex: 10;
  }

  span.total-task-hours {
    flex: auto;
  }

  button.delete-task,
  button.edit-task {
    visibility: hidden;
  }
}

div.task-flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div:hover {
  button.delete-task,
  button.edit-task {
    visibility: visible;
  }
}
