div {
  span.task {
    flex: 2;
  }

  button.delete-task,
  button.edit-task {
    visibility: hidden;
  }

  // & selects the parent element
  // i.e. &:hover = div:hover
  &:hover {
    button.delete-task,
    button.edit-task {
      visibility: visible;
    }
  }
}


