@use "../../../focus" as focus;

.add-goal-flex-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin-left: 6px;

  & > li {
    padding: 0.3rem 0.7rem 0.3rem 0.7rem;

    input {
      font-size: 1.1rem;
      width: 100%;
    }

    &.add-goal-btn-container {
      align-self: flex-end;
      padding: 0 0 0.3rem 0;
      button {
        margin-right: 0.5rem;
      }
    }
  }
}

.on-focus {
  @include focus.on-focus;
}

