<h3>Goals</h3>
<ul>
  <li *ngFor="let goal of goals">
    <app-goal [goal]="goal"></app-goal>
  </li>

  <form #goalListForm="ngForm" (submit)="addGoal(goalListForm)">
    <div class="add-goal-flex-container" [ngClass]="{ 'on-focus': addMode }">
      <li>
        <button (click)="onAddClick()" *ngIf="!addMode">+ Add goal</button>
        <input type="text" name="goal" ngModel *ngIf="addMode" placeholder="What is your goal?"/>
      </li>

      <li *ngIf="addMode" class="add-goal-btn-container">
        <button (click)="cancel(goalListForm)">Cancel</button>
        <button type="submit">Add</button>
      </li>
    </div>
  </form>
</ul>
