<ul>
  <li *ngFor="let goal of goals">
    <input type="checkbox" [(ngModel)]="goal.done" (change)="onCheck($event, goal.id)">
    <span class="goal" [ngClass]="{'done' : goal.done}">{{ goal.goal }}</span>
  </li>
  <form #goalForm="ngForm" (submit)="addGoal(goalForm)">
    <li>
      <button (click)="onAddClick()" *ngIf="!editMode">+ Add</button>
      <input type="text" name="goal" ngModel *ngIf="editMode" placeholder="What is your goal?"/>
    </li>
    <li *ngIf="editMode">
      <button type="submit">Add</button>
      <button (click)="cancel(goalForm)">Cancel</button>
    </li>
  </form>
</ul>
