ul {
  padding-left: 0px;
}

li {
  list-style: none;
  padding-left: 0px;

  span.goal {
    color: orange;
  }

  span.done {
    text-decoration: line-through;
  }

  button.delete-goal {
    visibility: hidden;
  }
}

li:hover {
  button.delete-goal{
    visibility: visible;
  }
}
