<ul>
  <li><h3>Priority tasks</h3></li>
  <li *ngFor="let task of priorityTasks">
    <app-task [task]="task"></app-task>
  </li>
  <li><h3>Recurrent tasks</h3></li>
  <li *ngFor="let task of recurrentTasks">
    <app-task [task]="task"></app-task>
  </li>
  <li class="add-task-container">
    <button (click)="onAddClick()">+ Add task</button>
  </li>
  <li>
    <div class="total-task-hours-container task-flex-container">
      <span class="total-task-hours-label">Total task hours:</span>
      <span class="total-task-hours">{{ totalTaskHours }}h</span>
    </div>
  </li>
</ul>
