div[mat-dialog-content] > div {
  display: flex;
  width: 100%;
  padding-bottom: 0.5em;

  label {
    flex: 1;
  }

  input, select, textarea, span {
    flex: 2;

    & > input[type=checkbox] {
      margin: 0;
    }
  }

  &[mat-dialog-actions] {
    // Align buttons to the right
    justify-content: flex-end;
  }
}

