<h2 mat-mat-dialog-title *ngIf="mode === 'create'">Add a task</h2>
<h2 mat-mat-dialog-title *ngIf="mode === 'edit'">Edit task</h2>
<form #taskForm="ngForm" (submit)="addTask(taskForm)">
  <div mat-dialog-content>
    <div>
      <label for="task">Task</label>
      <input [(ngModel)]="task" name="task" type="text" required placeholder="What would you like to do?">
    </div>
    <div>
      <label for="type">Type</label>
      <select [(ngModel)]="type" name="type" required>
        <option *ngFor="let type of types" [value]="type" [label]="type"></option>
      </select>
    </div>
    <div>
      <label for="hoursRequired">Hours required</label>
      <input [(ngModel)]="hoursRequired" name="hoursRequired" type="text" numeric required>
    </div>
    <div *ngIf="mode === 'edit'">
      <label for="done">Done</label>
      <!-- Wrap checkbox in span to align it to the left -->
      <span>
        <input type="checkbox" [(ngModel)]="done" name="done">
      </span>
    </div>
    <div>
      <label for="note">Note</label>
      <textarea [(ngModel)]="note" name="note"></textarea>
    </div>
    <div mat-dialog-actions>
      <button (click)="onCancelClick()">Cancel</button>
      <button type="submit">Submit</button>
    </div>
  </div>
</form>
