body {
  background-color: #FFFEFC;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1em;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
  padding-left: 0px;

  span.done {
    text-decoration: line-through;
  }

  div.task-flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
